[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pdbpp = "*"
pytest-xdist = "*"
better-exceptions = "*"
"flake8" = "*"
bumpversion = "*"
coveralls = "*"
pandas = "*"
rstcheck = "*"

[packages]
click = "*"
